body {
  background-color: #f8f9fa;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}
